body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.main {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: black;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}

.loan-input {
    height: 20%;
    width: 30%;
    background-color: rgba(98, 108, 102, .95);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #E6B84D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 5;
}

.header:before  {
    opacity: 50%;
}

.header {
    top: 20vh;
    left: 45%;
    height: 10vh;
    width: 100vw;;
    opacity: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: 500;
    text-shadow: 1px 2px #000000;
    color: #E6B84D;
    z-index: 100;
}

.get-started {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes load-button {
    from { 
        opacity: 0%; 
        visibility: hidden;
    }
    to { 
        opacity: 100%; 
        visibility: visible;
    }
}

.get-started-button {
    border: none;
    border-radius: 20px;
    font-size: 75px;
    padding: 20px;
    background-color: black;
    color: #E6B84D;
    cursor: pointer;
    transition: .2s;
    animation-fill-mode: forwards;
    animation-name: load-button;
    animation-duration: 2s;
    visibility: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.get-started-button:hover {
    font-size: 85px;
    padding: 25px;
    transform: translateY(-5px);
}